<?xml version='1.0' encoding='utf-8'?>
<openbox_menu>
  <menu id="root-menu" label="OpenBox 3">
    <menu id="7" label="Multimedia">
      <item label="Spotify">
        <action name="Execute">
          <execute>spotify</execute>
        </action>
      </item>
      <item label="VLC">
        <action name="Execute">
          <execute>vlc</execute>
        </action>
      </item>
      <item label="OBS">
        <action name="Execute">
          <execute>obs</execute>
        </action>
      </item>
      <item label="Soundcloud">
        <action name="Execute">
          <execute>env BAMF_DESKTOP_FILE_HINT=/var/lib/snapd/desktop/applications/orange-app_orange-app.desktop /snap/bin/orange-app %F</execute>
        </action>
      </item>
      <item label="Amberol">
        <action name="Execute">
          <execute>env BAMF_DESKTOP_FILE_HINT=/var/lib/snapd/desktop/applications/amberol_amberol.desktop /snap/bin/amberol %U</execute>
        </action>
      </item>
    </menu>
    <menu id="5" label="Daily use">
      <item label="Brave">
        <action name="Execute">
          <execute>brave-browser-stable</execute>
        </action>
      </item>
      <item label="Discord">
        <action name="Execute">
          <execute>discord</execute>
        </action>
      </item>
      <item label="Audio">
        <action name="Execute">
          <execute>pavucontrol</execute>
        </action>
      </item>
      <item label="VMware" icon="">
        <action name="Execute">
          <execute>/usr/bin/vmplayer</execute>
        </action>
      </item>
    </menu>
    <menu id="menu-904820" label="Launchers">
      <item label="Steam">
        <action name="Execute">
          <execute>steam</execute>
        </action>
      </item>
      <item label="Lutris">
        <action name="Execute">
          <execute>command</execute>
        </action>
      </item>
      <item label="Minecraft">
        <action name="Execute">
          <execute>minecraft-launcher</execute>
        </action>
      </item>
    </menu>
    <menu id="3" label="Office">
      <item label="Calendar">
        <action name="Execute">
          <execute>gnome-calendar</execute>
        </action>
      </item>
      <item label="Contacts">
        <action name="Execute">
          <execute>gnome-contacts</execute>
        </action>
      </item>
      <item label="Document Viewer">
        <action name="Execute">
          <execute>evince</execute>
        </action>
      </item>
      <item label="Evolution">
        <action name="Execute">
          <execute>evolution</execute>
        </action>
      </item>
      <item label="LibreOffice Impress">
        <action name="Execute">
          <execute>libreoffice</execute>
        </action>
      </item>
      <item label="Xbiff">
        <action name="Execute">
          <execute>xbiff</execute>
        </action>
      </item>
    </menu>
    <menu id="19" label="Terminal">
      <item label="Tilix">
        <action name="Execute">
          <execute>tilix</execute>
        </action>
      </item>
    </menu>
    <menu id="37" label="System">
      <menu id="36" label="Settings">
        <item label="Customize Look and Feel">
          <action name="Execute">
            <execute>lxappearance</execute>
          </action>
        </item>
        <item label="Desktop Preferences">
          <action name="Execute">
            <execute>pcmanfm --desktop-pref</execute>
          </action>
        </item>
        <item label="nitrogen">
          <action name="Execute">
            <execute>nitrogen</execute>
          </action>
        </item>
        <item label="Openbox Configuration Manager">
          <action name="Execute">
            <execute>obconf</execute>
          </action>
        </item>
        <item label="Passwords and Keys">
          <action name="Execute">
            <execute>seahorse</execute>
          </action>
        </item>
        <item label="Synaptic Package Manager">
          <action name="Execute">
            <execute>synaptic-pkexec</execute>
          </action>
        </item>
        <item label="Tint2 Settings">
          <action name="Execute">
            <execute>tint2conf</execute>
          </action>
        </item>
      </menu>
      <item label="Disk Usage Analyzer">
        <action name="Execute">
          <execute>baobab</execute>
        </action>
      </item>
      <item label="GNOME System Monitor">
        <action name="Execute">
          <execute>gnome-system-monitor</execute>
        </action>
      </item>
      <item label="Synaptic Package Manager">
        <action name="Execute">
          <execute>x-terminal-emulator -e synaptic-pkexec</execute>
        </action>
      </item>
    </menu>
    <menu id="38" label="Utilities">
      <item label="Calculator">
        <action name="Execute">
          <execute>gnome-calculator</execute>
        </action>
      </item>
      <item label="Clocks">
        <action name="Execute">
          <execute>gnome-clocks</execute>
        </action>
      </item>
      <item label="compton">
        <action name="Execute">
          <execute>compton</execute>
        </action>
      </item>
      <item label="Disks">
        <action name="Execute">
          <execute>gnome-disks</execute>
        </action>
      </item>
      <item label="Documents">
        <action name="Execute">
          <execute>gnome-documents</execute>
        </action>
      </item>
      <item label="Screenshot">
        <action name="Execute">
          <execute>gnome-screenshot --interactive</execute>
        </action>
      </item>
    </menu>
    <menu id="menu-351714" label="File Manager">
      <item label="File">
        <action name="Execute">
          <execute>thunar</execute>
        </action>
      </item>
    </menu>
    <menu id="menu-6339518" label="Rofi">
      <item label="Rofi">
        <action name="Execute">
          <execute>rofi -show run</execute>
        </action>
      </item>
    </menu>
    <separator />
    <menu id="40" label="OpenBox">
      <menu id="client-list-menu" />
      <item label="Reconfigure">
        <action name="Reconfigure" />
      </item>
      <separator />
      <item label="Shutdown">
        <action name="Execute">
          <execute>sudo poweroff</execute>
        </action>
      </item>
      <item label="Logout">
        <action name="Exit" />
      </item>
    </menu>
  </menu>
</openbox_menu>